/*
  	Sainsuite Icons Font: Sit
  	Creation date: 03/08/2020
 */

@font-face {
  font-family: "Sit";
  src: url("./Sit.eot");
  src: url("./Sit.eot?#iefix") format("embedded-opentype"),
       url("./Sit.woff") format("woff"),
       url("./Sit.ttf") format("truetype"),
       url("./Sit.svg#Sit") format("svg");
  font-weight: normal;
  font-style: normal;
}

.sit {
    font-size: 1rem;
}

.sit:before {
    font-family: "Sit";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.sit-double-arrow-next:before { content: "\f100"; }
.sit-double-arrow-back:before { content: "\f101"; }
.sit-double-arrow-down:before { content: "\f102"; }
.sit-double-arrow-up:before { content: "\f103"; }
.sit-long-arrow-back:before { content: "\f104"; }
.sit-arrow-next:before { content: "\f105"; }
.sit-arrow-back:before { content: "\f106"; }
.sit-long-arrow-next:before { content: "\f107"; }
.sit-check:before { content: "\f108"; }
.sit-arrow-down:before { content: "\f109"; }
.sit-minus:before { content: "\f10a"; }
.sit-long-arrow-down:before { content: "\f10b"; }
.sit-long-arrow-up:before { content: "\f10c"; }
.sit-plus:before { content: "\f10d"; }
.sit-arrow-up:before { content: "\f10e"; }
.sit-round:before { content: "\f10f"; }
.sit-reload:before { content: "\f110"; }
.sit-refresh:before { content: "\f111"; }
.sit-solid-plus:before { content: "\f112"; }
.sit-bold-close:before { content: "\f113"; }
.sit-solid-minus:before { content: "\f114"; }
.sit-hide:before { content: "\f115"; }
.sit-code:before { content: "\f116"; }
.sit-copy:before { content: "\f117"; }
.sit-up-and-down:before { content: "\f118"; }
.sit-left-and-right:before { content: "\f119"; }
.sit-bold-triangle-bottom:before { content: "\f11a"; }
.sit-bold-triangle-right:before { content: "\f11b"; }
.sit-bold-triangle-top:before { content: "\f11c"; }
.sit-bold-triangle-left:before { content: "\f11d"; }
.sit-bold-double-arrow-up:before { content: "\f11e"; }
.sit-bold-double-arrow-next:before { content: "\f11f"; }
.sit-bold-double-arrow-back:before { content: "\f120"; }
.sit-bold-double-arrow-down:before { content: "\f121"; }
.sit-bold-arrow-down:before { content: "\f122"; }
.sit-bold-arrow-next:before { content: "\f123"; }
.sit-bold-arrow-back:before { content: "\f124"; }
.sit-bold-arrow-up:before { content: "\f125"; }
.sit-bold-check:before { content: "\f126"; }
.sit-bold-wide-arrow-down:before { content: "\f127"; }
.sit-bold-wide-arrow-up:before { content: "\f128"; }
.sit-bold-wide-arrow-next:before { content: "\f129"; }
.sit-bold-wide-arrow-back:before { content: "\f12a"; }
.sit-bold-long-arrow-up:before { content: "\f12b"; }
.sit-bold-long-arrow-down:before { content: "\f12c"; }
.sit-bold-long-arrow-back:before { content: "\f12d"; }
.sit-bold-long-arrow-next:before { content: "\f12e"; }
.sit-bold-check-1:before { content: "\f12f"; }
.sit-close:before { content: "\f130"; }
.sit-more-ver:before { content: "\f131"; }
.sit-bold-more-ver:before { content: "\f132"; }
.sit-more-hor:before { content: "\f133"; }
.sit-bold-more-hor:before { content: "\f134"; }
.sit-bold-menu:before { content: "\f135"; }
.sit-drag:before { content: "\f136"; }
.sit-bold-sort:before { content: "\f137"; }
.sit-eye:before { content: "\f138"; }
.sit-outline-info:before { content: "\f139"; }
.sit-menu:before { content: "\f13a"; }
.sit-menu-grid:before { content: "\f13b"; }
.sit-wrench:before { content: "\f13c"; }
.sit-gear:before { content: "\f13d"; }
.sit-info:before { content: "\f13e"; }
.sit-calendar-2:before { content: "\f13f"; }
.sit-calendar:before { content: "\f140"; }
.sit-calendar-today:before { content: "\f141"; }
.sit-clock:before { content: "\f142"; }
.sit-dots:before { content: "\f143"; }